* {
    --blue: rgb(211, 211, 224);

   
}

.news-raccon__h1 {
    display: inline-block;
    padding: auto;
    padding: 20px 40px;
    background-color: blueviolet;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: 3px groove rgb(236, 23, 23);
    box-shadow: 0px 0px 15px 0 #000;
    text-shadow: 2px 2px 7px #fff;

}

h2,
h3 {
    color: rgb(7, 7, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
 

h2 {
    font-size: 35px;
}


p {
    font-family:  "Courier New","Lucida Console", monospace;
}


ul {
    color: chocolate;
}


ol {
    color: aqua;
}
.lista-de-raccon {
    color:rgb(69, 69, 219);
    background: var(--blue);
}

.text-box {
    padding: 0 10px;
    height: 45px;
    width: 280px;
 
}

.contact-form__input:first-child {
    color: blueviolet;
}
 
.news-raccon {
    font-size: 25px;
    line-height: 1.1;
     
}

.news-raccon__h1 {
    font-size: 1em;
    font-family: 'Ibarra Real Nova', serif;
     
}

.news-raccon__p {
    font-size: 0.7em;
    text-align: justify;
}

.pieza-raccon__h1 {
    background-color: aqua;
}

.pieza-raccon__b {
    background-color: bisque;
}

.pieza-raccon__P {
    background-color: rgb(151, 151, 194);
}